
a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

.nav-link {
	color: #999;
}

.StripeElement
{
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus
{
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid
{
	border-color: #fa755a;
}

.StripeElement--webkit-autofill
{
	background-color: #fefde5 !important;
}

.bd-placeholder-img
{
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px)
{
	.bd-placeholder-img-lg
	{
		font-size: 3.5rem;
	}

}

/* stylelint-disable selector-list-comma-newline-after */
.blog-header
{
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1em;
}

.blog-header-logo
{
	font-size: 2.25rem;
}

.blog-header-logo:hover
{
	text-decoration: none;
}

.display-4
{
	font-size: 2.5rem;
}

@media (min-width: 768px)
{
	.display-4
	{
		font-size: 3rem;
	}

}

.nav-scroller
{
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link
{
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right
{
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto
{
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250
{
	height: 250px;
}

@media (min-width: 768px)
{
	.h-md-250
	{
		height: 250px;
	}

}

/* Pagination */
.blog-pagination
{
	margin-bottom: 4rem;
}

.blog-pagination > .btn
{
	border-radius: 2rem;
}

/*    * Blog posts    */
.blog-post
{
	margin-bottom: 4rem;
}

.blog-post-title
{
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta
{
	margin-bottom: 1.25rem;
	color: #999;
}

/*    * Footer    */
.blog-footer
{
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child
{
	margin-bottom: 0;
}

.a:hover{
	color: #45007F;
}

.site-footer a:hover {
    color: black !important;
}

.test {
    animation: center;
    align-items: center;
    display: flex;
	align-self: center;
	margin-bottom: 4%;
}

.p-3 {
    padding: 1%!important;
}

.btn-info {
    color: #fff;
    background-color: #45007F;
    border-color: #45007F;
}

.btn-info:hover{
	background-color: #2f2e4e;
}

.text-info {
    color: #45007F!important;
}

.badge-info {
	background-color: #45007F!important;
}

.btn-success {
    color: #fff;
    background-color: #45007F;
    border-color: #45007F;
}

.btn-success:hover{
	color: #fff;
    background-color: #2f2e4e;
    border-color: #2f2e4e;
}

.card-text{
	font-family: Helvetica,Helvetica,Arial,sans-serif;
    font-weight: 600 !important;
    letter-spacing: .5px;
}


.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



figure.effect-ravi {
    background: #303fa9;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

figure.effect-ravi h2 {
    font-size: 158.75%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect-ravi p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

figure.effect-ravi p a {
    color: #fff;
}

figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
    opacity: 0.6;
}

figure.effect-ravi p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-ravi p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

figure.effect-ravi p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

figure.effect-ravi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-ravi:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-ravi:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}